h1{
	text-align: center;
	color: white;
	background-color: #000;
	margin: 2px;
	padding: 20px;
}

p, h2, h3{
	text-align: justify;
}

footer{
	height: 100px;
	background-color: #CCC;
	padding: 20px;
}

nav{
	height: 150px;
	background-color: #999;
	padding: 20px;
}

header{
	height: 100px;
	background-color: #DDD;
	padding: 20px;
}