
*{
	box-sizing: border-box;
}

body{
	margin: 50px;
	font-size: 17px;
}

h1, h4{
	font-family: 'Chilanka';
}

label{
	/* display:inline;  por padrão */ 
	display: block; /* é como se fosse um bloco, uma <\div\> */
	margin-top: 10px; /* separação da margem acima */
	margin-bottom: 10px; /*separação da margem abaixo */
}

/* Esse comando desse jeito só funciona para a tag text e Password */
input[type="text"], textarea, select{
	padding:8px;
	width:500px;
	font-size: 20px;
	border: 1px solid #111;
	outline: 0;
	margin-top: 5px;

}


textarea{
	resize: none;
	height: 200px;
}

.termos{
	text-decoration: none;
	color: #000;
}

.termos:hover{
	text-decoration: underline;
}

button{
	background-color: #EEE;
	font-size: 17px;

}


button:hover{
	background-color: #BBB;
}
