* {
	box-sizing: border-box;
}

body{
	margin: 50px;
	font-size: 17px;
}

p{
	color: #0000FF;
	font-size: 30px;
	font-weight: bold; /*font-weight: normal*/
	font-family: Times New Roman, Arial, Helvetica;
	text-align: justify; /* left, right, center; */
	text-transform: lowercase; /* uppercase; */
	letter-spacing: 2px;
	word-spacing: 1px;
	line-height: 35px; /* espaço entre linhas */
	

/* sombreamento: 
argumento1 = quão à direita o texto se desloca;
argumento2 = quão para baixo vai o texto;
argumento3 = quão esfumaçado será o texto;
argumento4 = as cores do texto
 */
	text-shadow: 0px 3px 3px #FF0000; 

}


a{
	text-decoration: none; /* overline, line-through, */
}

a:hover{
	text-decoration: underline;
}