* {
	box-sizing: border-box;
}

body{
	margin: 50px;
	font-size: 17px;
}

p{
	color: #0000FF;
	font-size: 18px;
	font-family: Times New Roman;
	text-align: left; /* left, right, center; */
}

td{
	text-align: center;
}