* {
	box-sizing: border-box;
}

body{
	margin: 50px;
	font-size: 17px;
}

p{
	color: #0000FF;
	font-size: 30px;
	font-weight: bold; /*font-weight: normal*/
	font-family: Times New Roman, Arial, Helvetica;
	text-align: justify; /* left, right, center; */
	text-transform: lowercase; /* uppercase; */
	letter-spacing: 2px;
	word-spacing: 1px;
	line-height: 35px;
	text-shadow: 0px 3px 3px #FF0000; /* sombreamento */

}


a{
	/* Faz com que o link fique sem o sublinhado */
	text-decoration: none; /* overline, line-through, */
}

a:hover{
	text-decoration: underline; /* ao passar o mouse o texto ficará sublinhado */
}