* {
	box-sizing: border-box;
}

body{
	margin:50px;
	font-size:17px;
}

/*
h1{
	font-family: 'Indie Flower';
}

td, tr{
	border: 1px solid #000;
	padding: 10px;
}
*/

table{
	width:600px;
}


table thead{
	background-color: #00F;
	text-shadow:3px 2px 3px #FFF;
	text-align: center;
}

table tbody{
	background-color: #0F0;
	text-align: justify;

}

th{
	font-weight: normal;
}


tbody tr:hover{
	background-color: #EEE;
}

/* Essa tag sobrescreve a hover */

tbody tr:nth-child(even){
	background-color: #D20000;
}


tbody td{
	border-bottom: 2px solid #000;
}

