* {
	box-sizing: border-box;
}

body{
	margin: 50px;
	font-size: 17px;
	background-color: #000;
}

p{
	
	font-size: 30px;
	font-weight: bold; /*font-weight: normal*/
	font-family: Chilanka;
	text-align: justify; /* left, right, center; */
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 2px;
	line-height: 35px;
	text-decoration: underline;
	
}

p:hover{
	text-decoration: none;
}

p, h1, ul, ol{
	color: #FFF;
}


#lists, #lists2{
	font-size: 18px;
	font-family: Times New Roman;
	color: #FF44FF;
	word-spacing: none;
	letter-spacing: none;
	text-transform: none;
	text-decoration: none;
}