<!-- Aula 4 -->

<h1>Seja bem vindo! Esta é uma aula sobre HTML e CSS</h1>

<h1>Esta é a Aula4 - Módulo I - sobre <strong>TAGS.</strong></h1>

<h2>Nossa primeira aula é sobre TAG! Esta TAG <\h1\> acima também é um Header!</h2>

<h3>Temos alguns headers em HTML. A saber, <\h1\>, <\h2\>, <\h3\>, <\h4\>, <\h5\> e <\h6\>.</h3>

<p>Esta é uma TAG <\p\>! Ela se refere a TAG de parágrafo. Tudo que escrevemos entre a abertura e o fechamento das TAGS será exibido na tela do navegador.</p>

<strong>Essa TAG <\strong\> serve para deixar o texto em negrito.</strong><br/>

<br/>

<u>Essa <strong>TAG u</strong> é para deixar o texto <strong>sublinhado!</strong></u>

<br/>

<p>Há também a TAG <\br\> que quebra linha no meio do texto - quebra de parágrafo.</p>

<br/>

<hr/><p>Existe também a TAG <\hr\> que passa uma linha horizontal de ponta a ponta da página, como mostrado acima. Essa TAG abre e fecha nela mesma.</p>.
