<!-- Aula5 -->

<h1>Seja bem vindo! Esta é uma aula sobre HTML e CSS</h1>

<h1>Esta é a Aula5 - Módulo I - sobre <strong>atributos.</strong></h1>

<!-- height="350px" -->
<p>A TAG <\img\> tem abertura e fechamento e é específica para inserir imagens.</p>

<p>A TAG <\img\> tem um atributo chamdo src=" site_aqui". Source vem do inglês e tem o significado fonte/origem.</p>

<p>A TAG <\img\> também possui o atributo width="tamanho_largura". Este atributo se refere a largura da imagem. Contudo, ao aumentar a largura, proporcionalmente a altura é aumentada, para mater a imagem focada e coerente, sem irregularidades ou desfoques.</p>

<img src="https://www.google.com.br/logos/google.jpg" width="350px"/>

<br/>

<p>A TAG <\a\> vem de anchor em inglês e significa âncora. Ou seja, estamos ancorando esse texto a um link específico.</p>

<p>A TAG <\a\> normalmente é utilizada com o atributo href="site_aqui".</p>

<a href="https://www.google.com.br">Click aqui para ser direcionado ao site do Google!</a>

