/* CSS Interno normalmente vai dentro do <head> */
/* Esste arquivo obrigatoriamente tem que ser .css e não deve conter a tag <style></style>  */

		
			h1{
				color: blue;
				font-size: 35px;
			}
		
			p{
				font-size: 20px;
			}

			li{
				font-weight: bold;
				color: blueviolet;
			}

		
