.link_links:hover{
	color: blue;
}

.link_imagem:hover{
	color: #FF0000;
}


.login:visited{
	color: purple;
}




.google{
	width:100%;
}


#google{
	width: 40%;
}


.facebook{
	width: 100%;
}


#facebook{
	width: 40%;
}


.telegram{
	width: 100%;
}


#telegram{
	width: 25%;
}


.whatsapp{
	width: 100%;
	
}


#whatsapp{
	width: 40%;
}









