.borda{

border-top:10px groove #FF00FF;
/* 	border-left:10px groove #FF00FF; */
/*	border-right:10px double #00CCCC; */
/*	border-top:10px dashed #00FF00; */
/*	border:10px dotted #00FF00; */ 
/*	border:10px solid #0000FF; */
	font-weight: bold;
	background-color: black;
	color: yellow;
	font-size: 30px;

}


#titulo{

	background: #0000FF;
	border-radius: 10px;
}



div{

	background-color: #00FF00;
	width:200px;
	height:200px;
	border-radius: 100px;
	border:5px solid darkgreen;

}

img{
	
	border:10px solid red;
	border-radius:55px;
	overflow:hidden;

}