#titulo{
	/* background-color: yellow; */
    /* background-color:#FF00FF; */
    /* 	background-color:rgb(0, 0, 0); */
	color:rgb(255,255,255);
	background-color:#FF00FF;
}

body{
	background-color:#CCCCCC;
}

