/*
Esta é a primeira forma de selecionar um atributo em HTML através do CSS
*/
#first_title{
	color: violet;
}



/*
Esta é a segunda forma de selecionar um atributo em HTML através do CSS
*/
.second_title{
	color: darkorange;
}



/*
Nós podemos mesclar alguns atributos para as mesmas características se ambas as compartilharem
*/
.chor,
#hook,
.rythm{
	color:darkgrey;
	font-size:40px;
	font-weight: bold;
}



/*
Forma de Seleção
*/
ol li{
	color: red;
	font-weight: bold;
}