*{
	/* box-sizing: content-box; */ 

	box-sizing: border-box;

	
}


body{
	margin: 0px;  
}


.exemplo{
	background-color: #00FF00;
	width: 400px;
	height: 400px; 
	/* height: auto; */
	border: 5px solid #000;
	padding: 20px; 
	margin: 50px;
}

